.container {
  padding: 20px 0 20px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #eeeeee;
}

.title {
  margin-top: 40px;
  margin-bottom: 10px;
}

.subtitle {
  margin: 25px 0 25px 0;
}

.total {
  margin-bottom: 15px;
  font-weight: 500;
}

.totalCount {
  font-weight: 700;
  color: #00adb5;
}

.errorMessage {
  margin-top: 70px;
  color: red;
  font-weight: 500;
}
