.list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 360px;
  padding: 40px 10px;
  border-radius: 10px;
  background-color: #222831;
}

.emptyMessage {
  margin-top: 70px;
  color: #00adb5;
  font-weight: 500;
}
